<form [formGroup]="form">
    <div >

       <div>
        <label for="depId">Department ID:</label>
         <input type="number" id="depId" name="DepID"  class="field" formControlName="depID"><br>
       </div>

       <div>
         <label for="hname"> Department Name:</label>
         <input type="text" id="hname" name="hname" class="field" formControlName="depName"><br><br>
       </div>
  
       <div>
         <label for="code">Available</label>
         <input type="text" id="code" class="field" formControlName="available"><br>
       </div>

       <div>
        <label for="code">Relesed</label>
        <input type="text" id="code" class="field" formControlName="relesed"><br>
      </div>

      <div>
        <label for="code">assigned</label>
        <input type="text" id="code" class="field" formControlName="assigned"><br>
      </div>

      <div>
        <label for="code">Hospital Code</label>
        <input type="text" id="code" class="field" formControlName="hcode"><br>
      </div>

       <div>
        <button  class="buttun"  >  save</button>
      </div>

    <div>
<form>
